@use "../config/naming" as naming;
@use "../dom-containers/fx-layout" as fxLayout;

// fxFlexOffset

$prefix: #{naming.$rootPrefix}FlexOffset;
$var: #{naming.$rootPrefix}-flex-offset;

/** Control offset with --#{$var} */
.#{fxLayout.$prefix}-row > .#{$prefix} {
  margin-left: var(--#{$var});
}
.#{fxLayout.$prefix}-row-reverse > .#{$prefix} {
  margin-right: var(--#{$var});
}
.#{fxLayout.$prefix}-column > .#{$prefix} {
  margin-top: var(--#{$var});
}
.#{fxLayout.$prefix}-column-reverse > .#{$prefix} {
  margin-bottom: var(--#{$var});
}
