// fxFlexAlign
// fxFlexAlign-<alignment>

$prefix: fxFlexAlign;

$aligns: (
    start: flex-start,
    center: center,
    end: flex-end,
    baseline: baseline,
    stretch: stretch
);

@each $name, $value in $aligns {
    .#{$prefix}-#{$name} {
        align-self: $value;
    }
}