@use "./fx-layout" as fxLayout;
@use "../config/naming" as naming;

// fxLayoutGap

$prefix: #{naming.$rootPrefix}LayoutGap;
$var: #{naming.$rootPrefix}-layout-gap;

/** Combine with gap size assigned to --#{$var} */
.#{$prefix} {
  // In column layout
  &.#{fxLayout.$prefix}-column,
  &.#{fxLayout.$prefix}-column-reverse {
    margin-right: var(--#{$var});
  }

  // In row layout
  &.#{fxLayout.$prefix}-row,
  &.#{fxLayout.$prefix}-row-reverse {
    margin-bottom: var(--#{$var});
  }
}

// TODO: Account for grid mode and wrap modes (see https://github.com/angular/flex-layout/wiki/fxLayoutGap-API#grid-mode)
